<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="styles.css" />
<title> Cole Koester </title>
</head>

<body>

<div class="roof">
<h1> About Me </h1>
<ul>
<a href="index.html"> Home </a>
<a href="projects.html"> Projects </a>
<a href="resume.html"> Resume </a>
<a href="notes.html"> Notes </a>
</ul>
</div>

<div class="page-contents"> 

<div class="container">
<h1 class="section-header"> I like to learn. </h1>
<p> 
	I tend to become obsessed with things. The fields I find most interesting (in order) are:
</p>
<ul class="indented-list">
	<li> Math </li>
	<li> Computer Science </li>
	<li> Anthropology </li>
	<li> Philosophy </li>
	<li> Cognitive Psychology </li>
	<li> Neuroscience </li>
</ul>
<p>
	I love to learn about systems, and I believe deeply in the potential for computer science and mathematics to organize and elucidate the important layers of the systems we live in.
</p>
</div>
</div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/svg.js/3.0.11/svg.min.js"> </script>
<script src="menu-button.js"> </script>
</html>
