<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../css/styles.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>
<title> Convex Hull </title>
</head>

<body>

<div class="roof">
<h1> Unsorted Convex Hull Algorithm </h1>
<ul>
<a href="index.html"> Home </a>
<a href="projects.html"> Projects </a>
<a href="resume.html"> Resume </a>
<a href="notes.html"> Notes </a>
</ul>
</div>

<div id="graph"></div>

<div class="discussion">
Unsorted (divide and conquer) convex hull is cool because it looks just like mergesort. 
</div>

<div class="discussion">

</div>

<p>
<script src="https://d3js.org/d3-fetch.v1.min.js"></script>
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="../js/2d_helper_funcs.js"></script>
<script src="../js/c_hull.js"></script>
<script src="../js/voronoi.js"></script>
<script src="../js/draw_c_hull.js"></script>
</p>

</body>

</html>
