<!DOCTYPE html>

<html>

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="../css/styles.css" />
<title> Cole Koester </title>
</head>

<body>

<div class="roof">
<h1> Resume </h1>
<ul>
<a href="../index.html"> Home </a>
<a href="projects.html"> Projects </a>
<a> Resume </a>
<a href="notes.html"> Notes </a>
</ul>
</div>

<div class="page-contents">
<div class="container">
<p> <a href="../assets/Resume_2019.pdf"> Download a physical copy of my resume. </a> </p>
<h1> Accomplishments </h1>
<ul style="display: inline-block"> 
	<li> B.S. Mathematics (In progress) </li>
	<li> B.S. Computer Science (In progress) </li>
	<li> Tufts University Class of 2019 </li>
	<li> QuestBridge Scholar </li>
</ul>

<div style="margin-top: 20px; margin-bottom: 20px;"> 
<h1> Courses </h1>

<div style="display: inline-block;">
<h2 style="font-weight: bold;"> Computer Science </h2>
<ul style="float: left;"> 
	<li> Machine Structure and Assembly Programming </li>
	<li> Internet Scale Distributed Systems </li>
	<li> Machine Learning </li>
	<li> Graph Theory </li>
	<li> Computational Geometry </li>
	<li> Algorithms </li>
	<li> Programming Languages </li>
	<li> Computational Theory </li>
	<li> Data Structures </li>
	<li> Discrete Mathematics </li>
</ul>
</div>

<div style="display: inline-block;">
<h2 style="font-weight: bold;"> Mathematics </h2>
<ul style="float: right;">
	<li> Real Analysis </li>
	<li> Abstract Algebra 1 & 2 </li>
	<li> Differential Geometry </li>
	<li> Point-Set Topology </li>
	<li> Multivariable Calculus </li>
	<li> Abstract Linear Algebra </li>
	<li> Number Theory </li>
	<li> Advanced Logic </li>
</ul>
</div>
</div>

<h1> Experience </h1>
<h2> Computer Science Teaching Assistant (Fall 2017-Spring 2019)</h2>
<ul>
	<li> Introduction to Computer Science </li>
	<li> Data Structures </li>
</ul>
<h2> Mathematics Research (Fall 2018-Spring 2019)</h2>
<ul>
	<li> Research with <a href="https://cborgers.pages.tufts.edu/"> Christoph Borgers </a> on <a href="https://en.wikipedia.org/wiki/Heavy-tailed_distribution"> heavy tailed distributions </a> and the <a href="https://arxiv.org/abs/1804.02932"> single big jump principle. </a> </li>
</ul>
<h2> Political Science Research (Fall 2018) </h2>
<ul>
	<li> <span style="font-weight: bold;"> Scraped more 1 million tweets from twitter and prepared them for analysis </span> </li>
	<li> The goal of the project was to analyze the behavior of actors with respect to their political orientation, and see how they behaved in comment threads with respect to actors with other political orientations. </li>
	<li> This project was honestly a huge struggle. I had to work with numerous dysfunctional open source packages, move around twitter trying to stop me from scraping data (twitter, if you are reading this, I am sorry), and speed up extremely slow scraping tools under ridiculous time constraints. </li>
	<li>  </li>
</ul>
<h2> Biomedical Engineering Research (Spring 2018, Summer 2018)
<ul>
	<li> Performed novel reserach and managed a team of undergraduates in biomedical engineering research. </li>
	<li> Studied the affect of a variety of inputs on silk embedded rat cortical neurons. </li>
</ul>
</div>
</div>

<p>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/svg.js/3.0.11/svg.min.js"> </script>
<script src="menu-button.js"> </script>
</p>

</body>
</html>
